<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<body class="promo">
  <div class="promo_wrapper">


    <div class="header_wrapper">
      <header>
        <div class="name">
          <%= image_tag("håp_icon.svg", :alt => "Логотип") %>
          <p>håp</p>
        </div>
        <button type="button" name="button">Узнать о запуске</button>
      </header>
    </div>

    <section class="start">
      <div class="hat">
        <div class="block">
          <div class="begin_text">
            <h1>håp: поиск времени для встреч</h1>
            <p>Поручи приложению выбор лучшего варианта</p>
          </div>
          <div class="begin_img">
            <%= image_tag("start_cards.png", :alt => "Логотип") %>
          </div>
        </div>

        <div class="form">
          <input type="text" name="" value="" placeholder="Оставь почту, чтобы первым узнать о запуске">
          <button type="button" name="button">Отправить</button>
        </div>
      </div>

      <div class="about">
        <%= image_tag("phone_clock.png", :alt => "") %>
        <h3>Найдем время, когда встретиться удобно всем</h3>
      </div>
    </section>


    <section class="benefit">
      <div class="card_1">
        <h3>Без долгих<br>обсуждений</h3>
        <div class="card_1_img">
          <%= image_tag("bubbles.png", :alt => "") %>
        </div>
      </div>

      <div class="card_2">
        <h3>Автоматически и наглядно</h3>
        <div class="card_2_img">
          <%= image_tag("portal_cards.png", :alt => "") %>
        </div>
      </div>
    </section>



    <section class="steps">
      <div class="h1">
        <h1>Три</h1>
        <div class="selected">
          <h1>простых</h1>
        </div>
        <h1>шага</h1>
      </div>
      <div class="steps_body">
        <div class="step_1">
          <div class="step_image_1">
            <%= image_tag("step1.png", :alt => "") %>
          </div>
          <div class="step_text">
            <p>Шаг 1</p>
            <h4>Задай период, в который встреча актульна</h4>
          </div>
        </div>
        <div class="step_2">
          <div class="step_image_2">
            <%= image_tag("step2.png", :alt => "") %>
          </div>
          <div class="step_text">
            <p>Шаг 2</p>
            <h4>Отправь ссылку, а участники скажут, когда свободны</h4>
          </div>
        </div>
        <div class="step_3">
          <div class="step_image_3">
            <%= image_tag("step3.png", :alt => "") %>
          </div>
          <div class="step_text">
            <p>Шаг 3</p>
            <h4>Получи идеальное время для встречи</h4>
          </div>
        </div>
      </div>
    </section>


    <section class="instruments">
      <h2>Разные инструменты для твоего удобства</h2>
      <div class="instruments_holder">
        <div class="friends">
          <h4>Простота для встреч с друзьями</h4>
          <div class="friends_img">
            <%= image_tag("friends_inst.png", :alt => "") %>
          </div>
        </div>
        <div class="work">
          <h4>Точность для рабочих созвонов</h4>
          <div class="work_img">
            <%= image_tag("work_inst.png", :alt => "") %>
          </div>
        </div>
      </div>
    </section>


    <section class="sell">
      <div class="sellback_text">
        <h2>Оставь почту, чтобы первым узнать о&nbsp;запуске</h2>
        <div class="sell_image">
        <%= image_tag("sell.png", :alt => "") %>
        </div>
      </div>
      <div class="form">
        <input type="text" name="" value="" placeholder="Email">
        <button type="button" name="button">Отправить</button>
      </div>
    </section>

    <footer>
      <div class="name">
        <%= image_tag("håp_icon.svg", :alt => "Логотип") %>
        <p>håp</p>
      </div>
      <span>håp ©2022</span>
      <span>Made by Olesya, Natasha, Egor </span>
    </footer>

    </div>
  </body >
